@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/290/836/non_2x/illustration-of-beautiful-summer-fields-landscape-green-hills-bright-color-blue-sky-country-background-in-flat-cartoon-style-banner-vector.jpg);
    background-size: cover;
}

.container {
    background-color: #00FFAB;
    padding: 20px;
    overflow: hidden;
}

.container h1 {
    float: left;
    margin-left: 5%;
    font-size: 40px;
}

.container ul {
    font-size: 25px;
    margin-left: 55%;
}

.container li {
    margin-top: 10px;
    float: left;
    padding: 0 20px;
    list-style: none;
}

.container a {
    text-decoration: none;
    color: #F66B0E;
}

.wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
}

#num1 {
    color: #F73D93;
}

#num2 {
    color: #FF5D5D;
}

#question {
    color: grey;
}

.wrapper h1 {
    color: #F24C4C;
}

.equation {
    font-size: 60px;
    background-color: white;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
}

.equation h1 {
    display: inline;
    padding: 15px;
}

.answer-options {
    font-size: 60px;
    margin-right: 10px;
    text-align: center;
    margin-top: 5%;
}

.answer-options h1 {
    cursor: pointer;
    display: inline;
    padding: 50px;
    color: white;
    margin-left: 5%;
}

#option1 {
    background-color: #F66B0E;
    transition: 1s;
}

#option1:hover {
    color: #F66B0E;
    background-color: white;
}

#option2 {
    background-color: #37E2D5;
    transition: 1s;
}

#option2:hover {
    color: #37E2D5;
    background-color: white;
}

#option3 {
    background-color: #F8CB2E;
    transition: 1s;
}

#option3:hover {
    color: #F8CB2E;
    background-color: white;
}